Flask==3.0.3
Flask-Cors==4.0.1
gunicorn==21.2.0


# Agent dependencies
torch==2.9.0+cpu
torchvision==0.24.0+cpu
opencv-python
numpy
matplotlib
seaborn
pandas
easyocr
google-generativeai
python-dotenv
mcp
